// fonts
@import url(https://fonts.googleapis.com/css?family=Cabin:600,600i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Commissioner&display=swap);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:Bold,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
$font-family-sans-serif: "Commissioner" !default;
$presentation-font-size-root: 46px;

// colors
:root {
  --red-100: #bf2642;
  --orange-100: #f2a03d;
  --green-100: #02733e;
  --purple-100: #73245e;
}

$red: #bf2642;
$orange: #f2a03d;
$green: #02733e;
$purple: #73245e;
$dark-purple: #39122f;
$blue: #00817c;
$beige: #f8f5f0;
$dark-beige: #9f8e71;
$light-orange: lighten($orange, 60%);

// set your custom colors here
$body-color: #5c5859 !default;

// headings
$presentation-heading-color: $blue !default;
$presentation-heading-font: "Cabin", "Commissioner", sans serif !default;

// code
$code-block-bg: $beige !default;
$code-color: $purple !default;
$code-block-border-color: $dark-beige !default;

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

.small {
  font-size: 0.75em;
}

.reveal .slide .question {
  border-left: 3px solid #7090A5;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #A9BCC9;
}

.reveal .slide .poll {
  border-left: 6px solid $orange;
  padding-left: 0.7em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: $beige;
}

/*
.reveal .slide .appex {
  border-left: 3px solid #003559;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #EBF7FF;
}
*/

.bigadage {
  font-size: 250%;
  font-family: Amatic SC;
}

.smalladage {
  font-size: 150%;
  font-family: Amatic SC;
}

span.block-el {
  font-weight: 700;
  color: var(--green-100);
  text-align: center;
}

div.block-el {
  font-weight: 700;
  color: white;
  background-color: var(--green-100);
}

span.inline-el {
  font-weight: 700;
  color: var(--red-100);
  text-align: center;
}

div.inline-el {
  font-weight: 700;
  color: white;
  background-color: var(--red-100);
}

span.meta-el {
  font-weight: 700;
  color: var(--orange-100);
  text-align: center;
}

div.meta-el {
  font-weight: 700;
  color: white;
  background-color: var(--orange-100);
}

.reveal .slide h1 {
  font-family: 'Nanum Myeongjo', serif;
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.slide-background.center.present {
  background-color: #f8f5f0;
}

#title-slide {
  text-align: left;
  font-family: 'Nanum Myeongjo', serif;
  margin: 5em 0em 0em 0em; // or margin-top: 1em;
}

#title-slide h1 {
  text-align: left;
  color: $blue;
  font-family: 'Nanum Myeongjo', serif;
}

.reveal .footer {
  font-size: .3em !important;
  font-family: 'Nanum Myeongjo', serif !important;
  bottom: 8px !important;
}

.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}